<%= stylesheet_link_tag "custom3" %>
<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box">
    <div class="field">
      <%= form.text_field :venue,placeholder: "Venue" %>
    </div>
    <div class="field">
      <%= form.label :time %>
      <br/>
      <%= form.datetime_field :time %>
    </div>
     <div class="field">
      <%= form.text_field :guest_id,placeholder: "Guest Id" %>
    </div>
    <div class="field">
      <%= form.text_field :reason,placeholder: "Reason" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <%= link_to 'Back', meetings_path %>
  </div>
<% end %>
